Activitat primera convocatoria/A4 - B4/6/vehicle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="vehicle">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="cotxe" type="xs:string"/>
                <xs:element name="moto" type="xs:string"/>
                <xs:element name="camió" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element> 
</xs:schema>